
{% extends 'base.html' %}

{% block title %}{{ user.first_name }} {{user.last_name}}{% endblock %}

{% block content %}
<h1>{{ user.first_name }} {{user.last_name}}</h1>
<image src={{user.image_url}}>
</image>
<form action="/users/{{user.id}}/edit">
    <input type="submit" value="edit">
</form>
<form action="/users/{{user.id}}/delete">
    <input type="submit" value="delete">
</form>
<h2>Posts</h2>
<ul>
    {% for post in posts%}
    <li><a href="/posts/{{post.id}}">{{post.title}}<a></li>
    {% endfor %}
</ul>
<form action="/users/{{user.id}}/posts/new">
    <input type="submit" value="Add Post">
</form>
{% endblock %}